<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <h1>Historial de Pedidos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('ingresar_pedido') }}">Realizar nuevo pedido</a></li>
        </ul>
    </nav>
    <main>
        <div id="notificacion" class="notificacion"></div>
        <table id="tabla-pedidos">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Solicitante</th>
                    <th>Producto</th>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.fecha.strftime('%Y-%m-%d') }}</td>
                    <td>{{ pedido.nombre_solicitante }}</td>
                    <td>{{ pedido.tipo_producto }}</td>
                    <td>{{ pedido.talla }}</td>
                    <td>{{ pedido.color or 'N/A' }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>
                        <button class="eliminar-pedido" data-id="{{ pedido.id }}">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('generar_reporte_pedidos_excel') }}" class="button">Generar Reporte Historico</a>
        <a href="{{ url_for('generar_reporte_pedidos_pdf') }}" class="button">Generar Reporte PDF</a>
    </main>
    <div id="confirmacion-modal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que quieres eliminar este pedido?</p>
            <button id="confirmar-eliminar">Sí, eliminar</button>
            <button id="cancelar-eliminar">Cancelar</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/pedidos.js') }}"></script>
</body>
</html>